<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>挂号信息</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">宠物主人</label>
                        <div class="layui-input-block">
                            <input type="text" name="oName" th:value="${obj?.OName}"  placeholder="请输入宠物主人" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <input name="aId" th:value="${obj?.AId}" class="layui-input layui-hide"/>

                    <div class="layui-form-item">
                        <label class="layui-form-label">宠物名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="pName" th:value="${obj?.PName}" lay-verify="required" placeholder="请输入宠物名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">宠物类型</label>
                        <div class="layui-input-block">
                            <select name="pType" id="pType"></select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">大概症状</label>
                        <div class="layui-input-block">
                            <input type="text" name="aSymptoms" th:value="${obj?.ASymptoms}" lay-verify="required" placeholder="请输入大概症状" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">操作人</label>
                        <div class="layui-input-block">
                            <input type="text" name="aOperator" th:value="${obj?.AOperator}"  placeholder="请输入操作人" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">医生名称</label>
                        <div class="layui-input-block">
                            <select name="dName" id="dName"></select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">诊断时间</label>
                        <div class="layui-input-block">
                            <input type="text" readonly name="aTime" id="aTime" th:value="${obj?.ATimeStr}"  lay-verify="required" placeholder="请输入出生日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                            <input type="text" readonly name="aCreatetime" id="aCreatetime" th:value="${obj?.ACreatetimeStr}"  lay-verify="required" placeholder="请输入出生日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        layui.use(['form','laydate'],function () {
            var $ = layui.$;
            var laydate = layui.laydate;
            var form = layui.form;
            
            //当前医生的值
            var currentDName = '[[${obj?.DName}]]';
            //获取医生列表
            $.ajax({
                url: '/doctor/doctorList',
                dataType:'json',
                type:'post',
                cache:false,
                success:function (data) {
                    $('#dName').prepend("<option value=''>请选择</option>");
                    for(var i=0;i<data.data.length;i++){
                        if(data.data[i].dname==currentDName){
                            $('#dName').append("<option selected value='"+data.data[i].dname+"'>"+data.data[i].dname+"</option>");
                        }else{
                            $('#dName').append("<option value='"+data.data[i].dname+"'>"+data.data[i].dname+"</option>");
                        }
                    }
                    form.render();          //下拉列表渲染，把内容加载进去
                }
            });
            var currentPType='[[${obj?.PType}]]';
            $.ajax({
                url: '/pet/getpetTypeList',
                dataType:'json',
                type:'post',
                cache:false,
                success:function (data) {
                    $('#pType').prepend("<option value=''>请选择</option>");
                    for(var i=0;i<data.data.length;i++){
                        if(data.data[i]==currentPType){
                            $('#pType').append("<option selected value='"+data.data[i]+"'>"+data.data[i]+"</option>");
                        }else{
                            $('#pType').append("<option value='"+data.data[i]+"'>"+data.data[i]+"</option>");
                        }
                    }
                    form.render();          //下拉列表渲染，把内容加载进去
                }
            });
            //支持日期控件
            // laydate.render({
            //     elem: '#dBirthday',
            //     trigger: 'click'
            // });

        });
    </script>
</body>
</html>
