<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>医生信息</title>
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/admin/style.css}" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form layui-form-pane" action="">
                    <input name="dId" th:value="${obj?.DId}" class="layui-input layui-hide"/>
                    <div class="layui-form-item">
                        <label class="layui-form-label">医生名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="dName" th:value="${obj?.DName}" lay-verify="required" placeholder="请输入医生名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">医生用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="dAccount" th:value="${obj?.DAccount}" lay-verify="required" placeholder="请输入医生用户名" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">医生密码</label>
                        <div class="layui-input-block">
                            <input type="password" name="dPassword" th:value="${obj?.DPassword}" lay-verify="required" placeholder="请输入医生密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block" th:style="'display:' + @{(${obj?.DGender != null} ? 'none' : '')} + ''">
                            <input type="radio" name="dGender" value="男" title="男">
                            <input type="radio" name="dGender" value="女" title="女">
                        </div>
                        <div class="layui-input-block" th:style="'display:' + @{(${obj?.DGender == null} ? 'none' : '')} + ''">
                            <input type="text" th:value="${obj?.DGender}" class="layui-input" disabled>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号码</label>
                        <div class="layui-input-block">
                            <input type="text" name="dPhone" th:value="${obj?.DPhone}" lay-verify="required|phone" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">身份证号码</label>
                        <div class="layui-input-block">
                            <input type="text" name="dIdNum" th:value="${obj?.DIdNum}" lay-verify="required|identity" placeholder="请输入身份证号码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">出生日期</label>
                        <div class="layui-input-block">
                            <input type="text" readonly name="dBirthday" id="dBirthday" th:value="${obj?.DBirthdayStr}"  lay-verify="required" placeholder="请输入出生日期" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="LAY-front-submit" id="LAY-front-submit" value="确认">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script>
        layui.use(['form','laydate'],function () {
            var $ = layui.$;
            var laydate = layui.laydate;
            var form = layui.form;

            //支持日期控件
            laydate.render({
                elem: '#dBirthday',
                trigger: 'click'
            });

        });
    </script>
</body>
</html>
